---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Characters">
  <main>
    <h1>Characters</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi asperiores
      quis impedit eveniet vero architecto hic laborum, sequi tempora deleniti
      voluptatum incidunt dolorum reiciendis ad debitis adipisci quidem
      assumenda eligendi?
    </p>
  </main>
</Layout>
