---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/Cards.astro";
import Card from "../components/Card.astro";
---

<Layout title="DC Comics Astro.">
  <main>
    <Cards>
      <Card
        title="The Flash"
        src="/The_Flash.png"
        alt="Image of The Flash"
        body="Able to run at near light-speeds, his powers provide the ultimate caffeine kick: He can run up buildings, move so swiftly he phases through objects, create sonic booms with the snap of his fingers."
      />
      <Card
        title="Wonder Woman"
        src="/Wonder_Woman.png"
        alt="Image of Wonder Woman"
        body="Wonder Woman is Princess Diana of the immortal Amazons from Greek mythology. Wonder Woman has superhuman strength and speed, as well as the trademark bulletproof bracelets, but it’s probably her Golden Lasso of Truth most people really wish they had."
      />
      <Card
        title="Superman"
        src="/Superman.png"
        alt="Image of Superman"
        body="Superman has super strength, speed, flight, invulnerability as well as his renowned X-ray and heat vision. The most powerful being on the planet, his amazing abilities are also a melancholy reminder of how different he is from the people he’s dedicated to protect."
      />
      <Card
        title="Zatanna"
        src="/Zatanna.png"
        alt="Image of Zatanna"
        body="Intelligent, confident, self-assured and able to manipulate reality itself with her vast magical abilities, Zatanna balances her time as a skilled stage illusionist with battling the dark arts alongside some of the world’s greatest super heroes."
      />
    </Cards>
    <Cards>
      <table>
        <caption> Top 5 DC Villains </caption>
        <thead>
          <tr>
            <td>Rank</td>
            <td>Character</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5</td>
            <td>Brainiac</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Sinestro</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Darkseid</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Lex Luthor</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Joker</td>
          </tr>
        </tbody>
      </table>
      <table>
        <caption> Top 5 Movies </caption>
        <thead>
          <tr>
            <td>Rank</td>
            <td>Title</td>
            <td>Gross</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>The Dark Knight</td>
            <td>$533,345,358</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Wonder Woman</td>
            <td>$412,563,408</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Batman v Superman: Dawn of Justice</td>
            <td>$330,360,194</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Suicide Squad</td>
            <td>$325,100,054</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Man of Steel</td>
            <td>$291,045,518</td>
          </tr>
        </tbody>
      </table>
    </Cards>
  </main>
</Layout>
<style>
  main {
    margin-top: 1rem;
  }
</style>
