---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Movies">
  <main>
    <h1>Movies</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita possimus
      ut laudantium totam nesciunt sed provident itaque soluta aliquam deserunt
      dolore autem laboriosam quaerat unde tempore ducimus harum, commodi neque?
    </p>
  </main>
</Layout>
