<footer>
  <h3>Student Details</h3>
  <p>Name: Paddy O'Hara<br />Student Number: A00001234</p>
</footer>
<style>
  footer {
    background-color: var(--main-bg-color);
    text-align: center;
    color: white;
    padding: 0.2rem;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
</style>
